@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito', sans-serif;
}

input{
  outline: none;
  appearance: none;
  border: none;
  border-color: #6b7280;
}

.scrollbar{
  &::-webkit-scrollbar{
    width: 0;
  }
  &::-webkit-scrollbar-track{
    background-color: black;
  }

  &::-webkit-scrollbar-thumb {
    background: red;
  }
}